@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=ZCOOL+QingKe+HuangYou&display=swap');

:root{
    --font-1: 'ZCOOL QingKe HuangYou', cursive;
    --font-2: 'Bebas Neue', cursive;

    --calc-shadow-clr: rgb(200 200 230);
    --btn-shadow-clr: rgb(119, 152, 168);
    --title-shadow-clr: rgb(134, 172, 185);

    --orange: rgb(255, 165, 0);
    --orange-shadow: rgb(190, 124, 0);
    --green: rgb(0, 235, 90);
    --green-shadow: rgb(0, 185, 40);
    --blue: rgb(0, 152, 223);
    --blue-shadow: rgb(0, 68, 146);
    --calc-clr: rgb(231 243 248);
    --title-clr: rgb(216, 228, 231);
    --bg-clr: rgb(173, 216, 230);
    --btn-clr: rgb(139, 194, 212);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-clr);
    display: flex;
    align-items: center;
    height: 100vh;
}

.calc{
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    justify-content: space-between;
    position: relative;
    width: min(600px, 60vw);
    aspect-ratio: 4 / 5;
    overflow: hidden;
    background-color: var(--calc-clr);
    border-radius: 1rem;
    box-shadow: 0 20px 0 var(--calc-shadow-clr);
}

.title{
    position: absolute;
    top: 1.5rem;
    right: 0;
    left: 0;
    text-align: center;
    font-family: var(--font-2);
    font-size: min(1.7rem, 2vw);
    color: var(--title-clr);
    text-shadow: 0 -2px 0 var(--calc-shadow-clr);
    /* background-color: red; */
}


.calc-display-div{
    width: 70%;
    height: 15%;
    margin-block: auto;
    /* background-color: blue; */
}

.calc-display{  
    width: 100%;
    height: 100%;
    padding-inline: .5rem;
    background-color: black;
    color: rgb(180 200 0);
    border-radius: .7rem;
    box-shadow: 0 -5px 0 var(--calc-shadow-clr);
    font-size: min(7rem, 7vw);
    font-family: var(--font-1);
}

.calc-keyboard{
    /* background-color: red; */
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem
}

.calc-line{
    display: flex;
    width: 100%;
    height: 25%;
    gap: .7rem
}

.calc-btn{
    height: 100%;
    width: 25%;
    border: none;
    box-shadow: 0 5px 0 var(--btn-shadow-clr);
    border-radius: .7rem;
    background: var(--btn-clr);
    transition: all 100ms linear;
    font-family: var(--font-2);
    font-size: min(5rem, 8vw);
    color: black;
}

.calc-btn:hover{
    cursor: pointer;
}

.calc-btn:active{
    box-shadow: none;
    transform: translateY(5px);
}

#C-btn{
    background: var(--orange);
    box-shadow: 0 5px 0 var(--orange-shadow);
}

#C-btn:active{
    box-shadow: none;
}

#equal-btn{
    background: var(--green);
    box-shadow: 0 5px 0 var(--green-shadow);
}

#equal-btn:active{
    box-shadow: none;
}

.op-btn{
    background: var(--blue);
    box-shadow: 0 5px 0 var(--blue-shadow);
}